body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #7ea7ed;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #497fdd;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #fff;
  }

  h2 {
    color: #fff;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: #fff;
  }
  
  th {
    background-color: #155bd5;
    /* color: #fff; */

  }
  
  tr:hover {
    background-color: #155bd5;
  }
  